node_modules
dist
build
.next
artifacts
.cache
public
docsearch.min.js
examples/**/node_modules/**/*.*
packages/**/fixtures/**/*.mdx
packages/**/test/**/*.mdx
packages/gatsby-theme-mdx/src/components/header.js
packages/gatsby-theme-mdx/src/components/layout.js
packages/gatsby-theme-mdx/src/components/search.js

# tmp
examples/vue
packages/vue
