artifacts
dist
build
node_modules
public
.next
.*cache
*.min.js
!/.*.js

examples/**/node_modules/**/*.*

packages/**/fixtures/**/*.mdx
packages/**/test/**/*.mdx
packages/gatsby-theme-mdx/src/components/header.js
packages/gatsby-theme-mdx/src/components/layout.js
packages/gatsby-theme-mdx/src/components/search.js

packages/remark-mdx

# tmp
examples/vue
packages/vue

readme.md
