node_modules
dist
cache
build
.next
*-error.log
*-debug.log
.vscode
.DS_Store
tmp
artifacts
.*cache
.nyc_output/
coverage/
/public
/packages/loader/lib/**/*.d.ts
/packages/loader/test/**/*.d.ts
/packages/mdx/**/*.d.ts
/packages/preact/lib/**/*.d.ts
/packages/preact/test/**/*.d.ts
/packages/preact/index.d.ts
/packages/react/lib/**/*.d.ts
/packages/react/test/**/*.d.ts
/packages/react/index.d.ts
/packages/remark-mdx/test/**/*.d.ts
/packages/remark-mdx/*.d.ts
/packages/vue/lib/**/*.d.ts
/packages/vue/test/**/*.d.ts
/packages/vue/index.d.ts
