.parcel-cache/
.DS_Store
.eslintcache
coverage/
node_modules/
/examples/next/build/
/examples/next/.next/
/examples/parcel/dist/
/examples/parcel/build/
/examples/react-web-components/build/
/examples/react-web-components/.next/
/packages/loader/lib/**/*.d.ts
/packages/loader/test/**/*.d.ts
/packages/mdx/**/*.d.ts
/packages/preact/lib/**/*.d.ts
/packages/preact/test/**/*.d.ts
/packages/preact/index.d.ts
/packages/react/lib/**/*.d.ts
/packages/react/test/**/*.d.ts
/packages/react/index.d.ts
/packages/remark-mdx/test/**/*.d.ts
/packages/remark-mdx/*.d.ts
/packages/vue/lib/**/*.d.ts
/packages/vue/test/**/*.d.ts
/packages/vue/index.d.ts
/public
