name: main
on:
  - pull_request
  - push
jobs:
  main:
    name: '${{matrix.os}} / ${{matrix.node}}'
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node}}
          cache: npm
      - run: npm install -g npm && npm install
      - run: npm test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node: '*'
        include:
          os: ubuntu-latest
          node: lts/erbium
