jobs:
  deploy:
    environment:
      name: Website
      url: ${{steps.deployment.outputs.page_url}}
    permissions:
      contents: read
      id-token: write
      pages: write
    # To do: replace w/ `ubuntu-latest` when upstream is solved:
    # <https://github.com/puppeteer/puppeteer/issues/12818>.
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: node
      - run: npm ci
      - run: npm run docs
      - uses: actions/upload-pages-artifact@v4
        with:
          path: public
      - uses: actions/deploy-pages@v4
        id: deployment
name: website
on:
  push:
    branches:
      - main
